<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.Group3.mapper.UserMapper">

    <select id="userLabel" resultType="com.Group3.common.bean.Label">
        select id as value, username as label from tb_user where user_type = #{userType}
    </select>
</mapper>
